html{
    font-size: 100%;
}

body{
    background: #bbb;
}

p{
    
}

a{

}

//fix bootstrap affix problem
.affix-bottom {
    position: relative
}

.main__wrp{
    margin-top: 200px;
    //margin-bottom: 100px;
}

.cnt__side{
    
}

.cnt__side-bar{
    background: rgba(#500fdf,.0);
    //min-height: 500px;
}

.aside{
    background: #fff;
    margin-right: 15px;
    width: 95%;
    min-height: 300px;
    
    
}

.cnt__wrp{
    background: #fff;
    min-height: 1800px;
}

.footer{
    background: rgba(#555,0);
    min-height: 200px;
}