.cnt__side-bar{
    width: (1200*0.33)-20px;      
}

@media (max-width: 1200px) {
    .cnt__side-bar{
        width: (992*0.33)-20px;
    }
}

@media (max-width: 992px) {
    .cnt__side-bar{
        width: (768*0.33)-20px;
    }
}

@media (max-width: 768px) { 
    .cnt__side-bar{
        
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}