html {
  font-size: 100%;
}

body {
  background: #bbb;
}

.affix-bottom {
  position: relative;
}

.main__wrp {
  margin-top: 200px;
}

.cnt__side-bar {
  background: rgba(80, 15, 223, 0);
}

.aside {
  background: #fff;
  margin-right: 15px;
  width: 95%;
  min-height: 300px;
}

.cnt__wrp {
  background: #fff;
  min-height: 1800px;
}

.footer {
  background: rgba(85, 85, 85, 0);
  min-height: 200px;
}

.cnt__side-bar {
  width: 376px;
}

@media (max-width: 1200px) {
  .cnt__side-bar {
    width: 307.36px;
  }
}

@media (max-width: 992px) {
  .cnt__side-bar {
    width: 233.44px;
  }
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
